body {
  background-color: #333333;
  color: white;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.hcenter {
  display: flex;
  align-items: center;
  justify-content: center
}

.clock {
  display: none;
  grid-template-rows: auto;
  font-size: 1.5em;
  width: auto;
}

.btn-f {
  font-size: 5em;
}

.clock-grid {
  padding: 0.5em;
}

.time-left-div {
  background-color: #000000;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.btn-timer-div {
  background-color: #ffffff;
  transition: background-color 0.2s;
  cursor: pointer;
  color: black;
  border-radius: 1em;
  margin-top: 1em;
}

.btn-timer {
    font-size: 2em;
}

.btn-timer-div:hover {
  background-color: #666666;
}

.reminder-div {
  background-color: #000000;
}

.bottom-div {
  background-color: #000000;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.reminder-display {
  /* width: 4em; */
  display: block;
  position:inherit;
}


.time, .btn {
  text-align: center;
  font-size: 8em;
  width: 4em;
}

@keyframes alarm {
  0%   {background-color: black;}
  50%  {background-color: red;}
  100% {background-color: black;}
}

@keyframes remind {
  0%   {background-color: black;
        color: white;}
  50%  {background-color: yellow;
        color: black;}
  100% {background-color: black;
        color: white;}
}

.alarm-animation {
  animation-name: alarm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.remind-animation {
  animation-name: remind;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1.5;
}

.urlSelector {
  display: grid;
  grid-template-columns: 10em 25em; */
  grid-template-rows: auto;
  grid-template-areas:
  "mode spec"
  "specr specr"
  "url url";
  font-size: 1.5em;
  display: none;
}

input {
  font-size: 1.5em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 0.2em;
}

.mode {
  grid-area: mode;
}

.spec {
  grid-area: spec;
}

.grid-min-height {
  min-height: 6.5em;
}

.specr {
  grid-area: specr;
}

.url {
  grid-area: url;
}

.lower {
  vertical-align: bottom;
}

.url-textbox {
  width: 70%;
  /* font-size: 0.6em; */
  font-size: 1em;
}

button {
  font-size: 2em;
  /* margin: 0.2em; */
  /* padding: 0.2em; */
  font-size: 1em;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 0.2em;
  float: right;
}

.settings {
  border-radius: 0.5em;
  color: black;
  margin: 0.1em;
  padding: 1em;
  background-color: #dbdbdb;
}

.bold {
  font-weight: bold;
}

.reminder {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  border-radius: 0.3em;
  padding: 0.1em;
  margin: 0.5em;
  height: 2.1em;
}

.lblReminder {
  padding: 0.5em;
  font-weight: bold;
  float: left;
}

.hms {
  width: 2em;
  float: left;
}

.h {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right-width: 0;
}

.m {
  border-right-width: 0;
  border-left-width: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.s {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-left-width: 0;
}

.rem {
  margin-left: 0.5em;
}

.error {
  color: red;
}
